/*************** CUSTOM PROPERTIES ***************/

:root {
  /* FONTS */
  --font-h1: "Lilita One", sans-serif;
  --font-h2: "Lalezar", sans-serif;
  --font-p: "Zen Kaku Gothic New", sans-serif;
  --font-cta: "Zen Kaku Gothic New", sans-serif;
  --font-btn: "Zen Kaku Gothic New", sans-serif;

  --font-h1-size: 2rem;
  --font-h2-size: 1.5rem;
  --font-p-size: 1rem;

  --font-weight: 400;
  --font-p-weight: 700;

  --letter-spacing: 0%;

  /* FARVER */
  --color-blaa: #2c65d0;
  --color-roed: #e71d21;
  --color-pink: #f4b0bd;
  --color-gul: #eefa30;
  --color-groen: #27965d;
  --color-beige: #f9f2e2;
  --color-sort: #161616;

  --border-radius: 40px;
  --box-shadow: #27965d 0px 10px 20px;
}

/********************* RESET *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/******************** header *****************/
header {
  background-color: var(--color-pink);
  width: 100%;
  overflow: hidden;
}
.logo {
  width: 45%;
  margin: 25px;
}

.menu {
  display: none;
}

/***** burger meny *****/
.burger {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger .line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--color-roed);
  margin-bottom: 9px;
  transition: 0.2s linear;
}

nav.active .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  gap: 20px;
  background-color: var(--color-pink);
  border: solid 0.5px var(--color-roed);
  font-family: var(--font-p);
}

a {
  text-decoration: none;
  color: var(--color-roed);
}

.menu a:active {
  color: var(--color-gul);
}

.link-img-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recipesikon {
  gap: 15px;
}

.searchikon {
  gap: 13px;
}

.brugereikon {
  gap: 8px;
}

nav.active .menu img {
  width: 15%;
}

/* Översta strecket */
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(8px, 7px);
  transition: 0.2s linear;
}

/* Mittenstrecket försvinner */
.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

/* Nedersta strecket */
.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: 0.2s linear;
}

/*  */
